* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
}

h1 {
    margin-bottom: 40px;
}

.text-center {
    text-align: center;
}

.keyboard {
    border: 1px solid slategrey;
    padding: 5px;
    border-radius: 4px;
    width: 692px;
    position: relative;
}

.line::after {
    content: "";
    display: block;
    clear: both;
}

.key {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid slategrey;
    border-radius: 4px;
    margin: 3px;
    padding: 4px;
    text-align: center;
    line-height: 32px;
    text-transform: uppercase;
}

.key:hover {
    color: #fff;
    background: slategrey;
    cursor: pointer;
}

.backspace {
    width: 122px;
}

.tab, .capslock {
    width: 60px;
}

.leftshift {
    width: 72px;
}

.rightshift {
    width: 90px;
}

.leftctrl, .rightctrl {
    width: 69px;
}

.space {
    width: 248px;
}

.window {
    width: 20px;
    padding-top: 5px;
}

.letter-key {
    font-size: 10px;
    line-height: 100%;
}

.enter {
    position: absolute;
    right: 5px;
    top: 51px;
    width: 56px;
    height: 87px;
}